<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/progresscrm?zeroDateTimeBehavior=convertToNull&amp;encoding=UTF-8&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;maxReconnects=10</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="connection.characterEncoding">UTF-8</property>
        <!--        <property name="hibernate.connection.autocommit">false</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>false
        <property name="hibernate.connection.pool_size">16</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>-->
        <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">180</property>
        <property name="hibernate.c3p0.max_size">60</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.min_size">10 </property>
        
        <mapping class="org.progress.crm.logic.Announcements" />
        <mapping class="org.progress.crm.logic.AnnouncementsRent" />
        <mapping class="org.progress.crm.logic.AnnouncementsCalls" />
        <mapping class="org.progress.crm.logic.AnnouncementsRentCalls" />
        <mapping class="org.progress.crm.logic.Apartaments" />
        <mapping class="org.progress.crm.logic.Filespaces" />
        <mapping class="org.progress.crm.logic.Calls" />
        <mapping class="org.progress.crm.logic.Customers" />
        <mapping class="org.progress.crm.logic.CustomersRent" />
        <mapping class="org.progress.crm.logic.HelpDeskRequest" />
        <mapping class="org.progress.crm.logic.Planner" />
        <mapping class="org.progress.crm.logic.LogService" />
        <mapping class="org.progress.crm.logic.News" />
        <mapping class="org.progress.crm.logic.Workers" />
    </session-factory>
</hibernate-configuration>
